@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
}
body,
html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-family: "Libre Franklin", sans-serif;
}

/************** Header Start **************/
ul.header-user_ul {
  display: none;
  position: absolute;
  width: 170px;
  top: 25px;
  left: -38px;
  background: rgb(255, 255, 255);
  z-index: 21;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.header_item a {
  padding: 0px 0.5vw;
  color: #000042;
  border-right: 1px solid;
  font-size: 11px;
}
#masthead {
  padding: 0px 25px;
  margin: 4px 0px 0px;
}
.header_contact a {
  padding: 0px 0.5vw;
  color: #000042;
  font-size: 11px;
}
.number-logo img {
  width: 125px;
}
input.search_input {
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 4px 7px;
  margin: 0px;
  position: relative;
  z-index: 2001;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 66, 0.5);
  border-radius: 5px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 66, 0.5);
  outline: none;
}
.other-menu img {
  width: 20px;
  margin: 0px 5px;
}
.other-menu a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000042;
}
.header_ul .header_item:first-child a {
  padding-left: 0px;
}
a.header-user_list {
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000042;
  text-decoration: none;
}
a.header-user_list:hover {
  background-color: rgb(250, 250, 250);
}
.header_user_rotate {
  transform: none;
}

.header-user:hover .header-user_ul {
  display: block;
}
/**************  Header End ************** /

/**************  Footer Start **************/
.first-sec {
  background-color: rgb(0, 0, 66);
  padding: 20px 40px;
  color: #fff;
}
.second-sec {
  padding: 0px 55px 35px;
  background-color: rgb(0, 0, 66);
  color: #fff;
}
h2.footer-menu-heading {
  line-height: 25px;
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0px 10px;
}
li.footer_menu-list a {
  color: #fff;
  padding-inline-end: 0px;
  font-family: inherit;
  font-size: 12px;
}
li.footer_menu-list {
  margin: 15px 0px;
}
.store-desc {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
.footer-line {
  border-bottom: 1px solid #fff;
  margin: 0px 55px;
}
.last-second_ul a {
  font-size: 25px;
}
.third-sec {
  padding: 20px 55px;
  background-color: rgb(0, 0, 66);
}
.first-sec h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: rgb(244, 244, 244);
  padding-bottom: 15px !important;
}
.footer-para {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
  color: rgb(252, 252, 252);
}
/**************  Footer Complete **************/

/**************  Register & Login Form **************/
.form-cancel {
  cursor: pointer;
}
h2.create-account {
  font-size: 20px;
  color: #333368;
  line-height: 24px;
}
.register-input input {
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  padding-right: 20px;
  background: rgb(255, 255, 255);
}
div#register-form {
  position: fixed;
  top: 25%;
  right: 50%;
  background: #fff;
  border-radius: 12px;
  padding: 15px 48px 15px;
  width: 40%;
  left: 30%;
  z-index: 999999;
}

.register-input {
  padding: 5px 6px;
  border-radius: 10px;
  margin: 15px 0;
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 238);
  box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px;
}
.register-btn {
  border-radius: 24px;
  padding: 12px;
  font-size: 12px;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
  background-color: #11daac;
  color: rgb(0, 0, 66);
  margin-bottom: 10px;
}
.have-account {
  text-align: center;
}
.have-account a {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  border: none;
  outline: none;
  background: transparent;
  color: #000042;
  cursor: pointer;
  padding: 0px 4px;
  font-weight: 600;
}
.have-account span {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  border: none;
  outline: none;
  background: transparent;
  color: #000042;
  cursor: pointer;
  padding: 0px 3px;
}
.formShow {
  transition: all 0.5s;
}
div#root.formShow:before {
  content: "";
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.3;
}
/**************  Register & Login Form End **************/

/**************  Admin & User Dashboard  Start **************/
.my-account-wrapper {
  min-height: 580px;
  max-width: 1188px;
  margin: 10px auto 0;
}
.my-account-wrapper .my-ac-list {
  margin: 0;
  padding: 0;
}
.my-account-wrapper .my-ac-list li {
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  position: relative;
}
.my-account-wrapper .my-ac-list li a {
  font-size: 12px;
  letter-spacing: 1.3px;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #333;
  padding: 15px;
  display: block;
  background: #f7f5f5;
  line-height: normal;
  border-bottom: 1px solid #fff;
}
.no-padding {
  padding: 0 !important;
}
.account-dashboard {
  letter-spacing: 1px;
}
.order-list {
  padding-top: 1px;
}
.my-account-wrapper .my-ac-list li a.active,
.my-account-wrapper .my-ac-list li a:hover {
  background: #3bb3a9;
  color: #fff;
}
h1.edit-heading {
  color: #333;
  font-size: 30px;
  margin: 20px 0 10px;
}
.edit-subheading {
  color: #333;
  font-size: 24px;
  margin: 20px 0 10px;
}
.edit-input label {
  font-size: 13px;
  color: #333333;
  font-weight: 600;
}
.edit-input input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  outline: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-input {
  margin: 10px 0 5px;
}
button.edit-form-btn {
  color: #fff;
  background-color: #f18132;
  border-color: #ef721a;
  font-size: 14px;
  padding: 12px 2px;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  width: 50%;
  border: none;
}
.edit-form-btn:hover {
  background-color: #e1660f;
  border-color: #bf570d;
  color: #fff;
}
.edit-btn {
  margin-top: 20px;
  border-top: 1px dashed rgb(204, 204, 204);
  padding-top: 20px;
}
/**************  Admin & User Dashboard  End **************/
